<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICheckService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5778/CheckService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICheckService" contract="ICheckService"
                name="BasicHttpBinding_ICheckService" />
        </client>
    </system.serviceModel>
</configuration>